<div class="container mt-3">
  <form (ngSubmit)="ejecutarRandom(f)" #f="ngForm" *ngIf="!mostrarMatriz">
    <div class="form-row align-items-center">
      <div class="col-md-3">
        <label># de Columnas</label>
        <input [(ngModel)]="datos.columnas" type="number" min="2 " name="columnas" class="form-control ">
      </div>
      <div class="col-md-3">
        <label># de Filas</label>
        <input [(ngModel)]="datos.filas" type="number" name="filas" #filas="ngModel" class="form-control">
      </div>
      <div class="col-md-3">
        <label>Rango Minimo Aleatorio</label>
        <input [(ngModel)]="datos.rangoMin" type="number" name="rangoMin" #rangoMin="ngModel" class="form-control "
          id="inlineFormInput">
      </div>
      <div class="col-md-3">
        <label>Rango Maximo Aleatorio</label>
        <input [(ngModel)]="datos.rangoMax" type="number" name="rangoMax" #rangoMax="ngModel" class="form-control">
      </div>
      <div class="col-md-3 mt-2">
        <label>Coeficiente Pesimismo</label>
        <input [(ngModel)]="datos.coeficiente" type="number" name="coeficiente" #coeficiente="ngModel"
          class="form-control">
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-switch">
          <input type="checkbox" [(ngModel)]="datos.manual" [checked]="datos.manual" name="manual" #manual
            class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">Datos Manuales</label>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </div>
  </form>


  <div class="col-md-6 mt-2">
    <button (click)="reacargarPagina()" type="button" class="btn btn-secondary" *ngIf="mostrarMatriz">Nuevo</button>
  </div>

  <!-- Tabla Manual -->
  <div class="mt-4" *ngIf="mostrarManual">
    <form (ngSubmit)="ejecutarManual(h.value)" #h="ngForm">
      <h4 class="display-6">Matriz Aleatoria:</h4>
      <table class="table table-bordered jumbotron">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fila of arrayFilas, let col=index">
            <th>Fila {{col+1}}</th>
            <td *ngFor="let obj of td.arrayDatos, let fil=index"><input (ngModel)="marrayRandom" type="number"
                name="{{fil+1}}{{col}}" class="form-control col-xs-4
                "></td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-6 mt-2">
        <button type="submit" class="btn btn-warning mb-2">Submit</button>
      </div>
    </form>
  </div>



  <div class="mt-4" *ngIf="mostrarMatriz && !datos.manual">
    <h4 class="display-6">Matriz Aleatoria:</h4>

    <table class="table table-bordered jumbotron">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of arrayFilas">
          <th>Fila {{fila}}</th>
          <td *ngFor="let obj of td.arrayDatos">{{obj[fila]}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="mostrarMetodo">
    <h4 class="display-6">Metodo de Lagrange:</h4>
    <table class="table table-bordered jumbotron">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
          <th>Resp. 1/{{resultadoLagrange}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of arrayFilas">
          <th>Fila {{fila}}</th>
          <td *ngFor="let obj of td.arrayLagrnage">{{obj[fila]}}</td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-primary col-6" role="alert">
      El valor maximo de Lagrange es {{maximoLagrange}} en la fila {{filaLagrange}}
    </div>
  </div>

  <div *ngIf="mostrarMetodo">
    <h4 class="display-6">Metodo de Pesimismo:</h4>
    <table class="table table-bordered jumbotron">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
          <th>Resp. 1/{{resultadoLagrange}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of arrayFilas">
          <th>Fila {{fila}}</th>
          <td *ngFor="let obj of td.arrayPesimista">{{obj[fila]}}</td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-primary col-6" role="alert">
      El resultado mas optimo es el {{maximoPesimista}} en la fila {{filasPesimista}}
    </div>
  </div>

  <div *ngIf="mostrarMetodo">
    <h4 class="display-6">Metodo de Optimismo:</h4>
    <table class="table table-bordered jumbotron">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
          <th>Resp. 1/{{resultadoLagrange}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of arrayFilas">
          <th>Fila {{fila}}</th>
          <td *ngFor="let obj of td.arrayOptimista">{{obj[fila]}}</td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-primary col-6" role="alert">
      El resultado mas optimo es el {{maximoOptimista}} en la fila {{filasOptimista}}
    </div>
  </div>

  <div *ngIf="mostrarMetodo">
    <h4 class="display-6">Metodo de Hurwicz:</h4>
    <table class="table table-bordered jumbotron">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
          <th>Resp. 1/{{resultadoLagrange}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of arrayFilas">
          <th>Fila {{fila}}</th>
          <td *ngFor="let obj of td.arrayHurwicz">{{obj[fila]}}</td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-primary col-6" role="alert">
      El resultado mas optimo es el {{maximoOptimista}} en la fila {{filasOptimista}}
    </div>
  </div>

</div>