<div class="container mt-3">
  <form (ngSubmit)="ejecutarRandom(f)" #f="ngForm" *ngIf="mostrarForm">
    <div class="form-row align-items-center">
      <div class="col-md-3">
        <label># de Columnas</label>
        <input [(ngModel)]="datos.columnas" type="number" min="2 " name="columnas" class="form-control ">
      </div>
      <div class="col-md-3">
        <label># de Filas</label>
        <input [(ngModel)]="datos.filas" type="number" name="filas" #filas="ngModel" class="form-control">
      </div>
      <div class="col-md-3">
        <label>Rango Minimo Aleatorio</label>
        <input [(ngModel)]="datos.rangoMin" type="number" name="rangoMin" #rangoMin="ngModel" class="form-control "
          id="inlineFormInput">
      </div>
      <div class="col-md-3">
        <label>Rango Maximo Aleatorio</label>
        <input [(ngModel)]="datos.rangoMax" type="number" name="rangoMax" #rangoMax="ngModel" class="form-control">
      </div>
      <div class="col-md-3 mt-2">
        <label>Coeficiente Pesimismo</label>
        <input [(ngModel)]="datos.coeficiente" type="number" name="coeficiente" #coeficiente="ngModel"
          class="form-control">
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-switch">
          <input type="checkbox" [(ngModel)]="datos.manual" [checked]="datos.manual" name="manual" #manual
            class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">Datos Manuales</label>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <button type="submit" class="btn btn-primary mb-2">Enviar</button>
      </div>
    </div>
  </form>


  <div class="col-md-6 mt-2">
    <button (click)="reacargarPagina()" type="button" class="btn btn-secondary" *ngIf="!mostrarForm">Nuevo</button>
  </div>

  <!-- Tabla Manual -->
  <div *ngIf="mostrarManual">
    <div class="card mt-2">
      <div class="card-body">
        <h3 class="card-title">Matriz Manual:</h3>
        <form (ngSubmit)="ejecutarManual(h.value)" #h="ngForm">
          <table class="table table-bordered jumbotron">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fila of arrayFilas, let col=index">
                <th>Fila {{col+1}}</th>
                <td *ngFor="let obj of td.arrayDatos, let fil=index"><input (ngModel)="marrayRandom" type="number"
                    name="{{fil+1}}{{col}}" class="form-control col-xs-4
                    "></td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-6 mt-2">
            <button type="submit" class="btn btn-warning mb-2">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="mt-4" *ngIf="mostrarMatriz && !datos.manual">
    <div class="card mt-2">
      <div class="card-body">
        <h3 class="card-title">Matriz Aleatoria:</h3>
        <table class="table table-bordered jumbotron the-table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fila of arrayFilas">
              <th>Fila {{fila}}</th>
              <td *ngFor="let obj of td.arrayDatos">{{obj[fila]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div *ngIf="mostrarMetodo">
    <div class="card mt-2">
      <div class="card-body">
        <h3 class="card-title">Metodo de Lagrange:</h3>
        <h4 class="card-subtitle mb-2 text-muted">El valor maximo de Lagrange es {{maximoLagrange}} en la fila
          {{filaLagrange}}</h4>
        <table class="table table-bordered jumbotron">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
              <th>Resp. 1/{{resultadoLagrange}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fila of arrayFilas">
              <th>Fila {{fila}}</th>
              <td *ngFor="let obj of td.arrayLagrnage">{{obj[fila]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div *ngIf="mostrarMetodo">
    <div class="card mt-2">
      <div class="card-body">
        <h3 class="card-title">Metodo de Pesimismo:</h3>
        <h4 class="card-subtitle text-muted">El resultado esperado es el {{maximoPesimista}} en la fila
          {{filasPesimista}}</h4>
        <table class="table table-bordered jumbotron">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
              <th>Resultado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fila of arrayFilas">
              <th>Fila {{fila}}</th>
              <td *ngFor="let obj of td.arrayPesimista">{{obj[fila]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div *ngIf="mostrarMetodo">
    <div class="card mt-2">
      <div class="card-body">
        <h3 class="card-title">Metodo de Optimismo:</h3>
        <h4 class="card-subtitle mb-2 text-muted">El resultado mas optimo es el {{maximoOptimista}} en la fila
          {{filasOptimista}}</h4>
        <table class="table table-bordered jumbotron">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
              <th>Resultado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fila of arrayFilas">
              <th>Fila {{fila}}</th>
              <td *ngFor="let obj of td.arrayOptimista">{{obj[fila]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div *ngIf="mostrarMetodo">
    <div class="card mt-2">
      <div class="card-body">
        <h3 class="card-title">Metodo de Hurwicz:</h3>
        <table class="table table-bordered jumbotron">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
              <th>Resultado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fila of arrayFilas">
              <th>Fila {{fila}}</th>
              <td *ngFor="let obj of td.arrayHurwicz">{{obj[fila]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div *ngIf="mostrarMetodo">
    <div class="card mt-2">
      <div class="card-body">
        <h3 class="card-title">Metodo de Savage:</h3>
        <h4 class="card-subtitle mb-2 text-muted"></h4>
        <table class="table table-bordered jumbotron">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" *ngFor="let columna of arrayColumnas">Col. {{columna}}</th>
              <th>Resultado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fila of arrayFilas">
              <th>Fila {{fila}}</th>
              <td *ngFor="let obj of td.arraySavage">{{obj[fila]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6 m-3 ">
    <button (click)="reacargarPagina()" type="button" class="btn btn-secondary" *ngIf="!mostrarForm">Nuevo</button>
  </div>
</div>